* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  height: 390px;
  background-color: #faa63b;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
header .logo {
  height: 300px;
  width: 400px;
  padding: 20px;
}
header .logo .logoimagen {
  border-radius: 50%;
}
header .lista {
  width: 700px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  list-style: none;
}
header .lista a {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.979);
  font-size: 40px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", serif;
}

main {
  padding: 20px;
  background-color: rgba(3, 1, 1, 0.918);
}
main .Inicio {
  padding: 30px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
main .imgindex {
  border-radius: 1%;
  border: #faa63b solid 5px;
}
main .introduccion {
  border-radius: 10%;
  background-image: linear-gradient(#1c5441, grey);
  width: 400px;
  height: 800px;
  margin: 30px;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
main .introduccion h1 {
  text-align: center;
  color: #faa63b;
  font-size: 50px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", serif;
}
main .introduccion p {
  text-align: center;
  color: rgba(0, 0, 0, 0.979);
  font-size: 30px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", serif;
}
main .title, main .subtitulo {
  color: #1c5441;
  font-size: 50px;
  display: flex;
  justify-content: center;
  text-align: center;
  margin: 40px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", serif;
}
main .subtitulo {
  color: #1c5441;
  font-size: 25px;
  margin: 100px;
}
main .grillaPanes {
  border: #faa63b solid 5px;
  border-radius: 2%;
  background-image: linear-gradient(#1c5441, grey);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas: "uno dos tres";
  justify-items: center;
  justify-content: space-between;
  align-content: space-around;
}
main .grillaPanes .pan {
  height: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
main .grillaPanes .pan h3 {
  text-align: center;
  font-size: 30px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", serif;
  color: rgba(0, 0, 0, 0.979);
}
main .grillaPanes .pan p {
  font-size: 25px;
  text-align: center;
  color: rgba(0, 0, 0, 0.979);
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", serif;
}
main .grillaPanes .pan .bordesfotos {
  border-radius: 10%;
}
main .grillaPanes .pan:first-child {
  grid-area: uno;
  margin: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-content: center;
}
main .grillaPanes .pan:nth-child(2) {
  grid-area: dos;
  margin: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-content: center;
}
main .grillaPanes .pan:nth-child(3) {
  grid-area: tres;
  margin: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-content: center;
}
main .grillaTfrias {
  /* @extend .grillaPanes;
  .frias {
      @extend .pan;
  } */
  border-radius: 1%;
  border: #faa63b solid 5px;
  background-image: linear-gradient(#1c5441, grey);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas: "uno dos tres";
  justify-items: center;
  justify-content: space-between;
  align-content: space-around;
}
main .grillaTfrias .frias {
  height: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
main .grillaTfrias .frias h3 {
  text-align: center;
  font-size: 30px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", serif;
  color: rgba(0, 0, 0, 0.979);
}
main .grillaTfrias .frias p {
  font-size: 25px;
  text-align: center;
  color: rgba(0, 0, 0, 0.979);
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", serif;
}
main .grillaTfrias .frias .bordesfotos {
  border-radius: 10%;
}
main .grillaTfrias .frias:first-child {
  margin: 10px;
  grid-area: uno;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
main .grillaTfrias .frias:nth-child(2) {
  margin: 10px;
  grid-area: dos;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-content: center;
}
main .grillaTfrias .frias:nth-child(3) {
  grid-area: tres;
  margin: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-content: center;
}
main .grillaTcalientes {
  border-radius: 1%;
  border: #faa63b solid 5px;
  background-image: linear-gradient(#1c5441, grey);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas: "uno dos tres";
  justify-items: center;
  justify-content: space-between;
  align-content: space-around;
  /* @extend .grillaPanes;
  .calientes {
      @extend .pan;
  } */
}
main .grillaTcalientes .calientes {
  height: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
main .grillaTcalientes .calientes h3 {
  text-align: center;
  font-size: 30px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", serif;
  color: rgba(0, 0, 0, 0.979);
}
main .grillaTcalientes .calientes p {
  font-size: 25px;
  text-align: center;
  color: rgba(0, 0, 0, 0.979);
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", serif;
}
main .grillaTcalientes .calientes .bordesfotos {
  border-radius: 10%;
}
main .grillaTcalientes .calientes:first-child {
  margin: 10px;
  grid-area: uno;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
main .grillaTcalientes .calientes:nth-child(2) {
  margin: 10px;
  grid-area: dos;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-content: center;
}
main .grillaTcalientes .calientes:nth-child(3) {
  grid-area: tres;
  margin: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-content: center;
}
main .grillabebidas {
  border: #faa63b solid 5px;
  background-image: linear-gradient(#1c5441, grey);
  padding: 30px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: "uno dos" "tres cuatro";
  justify-content: center;
  align-content: center;
  justify-items: center;
}
main .grillabebidas .cocktail {
  height: 600px;
  width: 600px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
main .grillabebidas .cocktail h3 {
  text-align: center;
  font-size: 30px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", serif;
  color: rgba(0, 0, 0, 0.979);
}
main .grillabebidas .cocktail p {
  font-size: 20px;
  text-align: center;
  color: rgba(0, 0, 0, 0.979);
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", serif;
}
main .grillabebidas .cocktail .bordesfotos {
  border-radius: 10%;
}
main .grillabebidas .cocktail:first-child {
  grid-area: uno;
  margin: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
main .grillabebidas .cocktail:nth-child(2) {
  grid-area: dos;
  margin: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
main .grillabebidas .cocktail:nth-child(3) {
  grid-area: tres;
  margin: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
main .grillabebidas .cocktail:nth-child(4) {
  grid-area: cuatro;
  margin: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

footer {
  background-color: #faa63b;
  padding: 20px;
  height: 150px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
footer .infofooter {
  display: flex;
  flex-direction: column;
  align-content: space-between;
}
footer .infofooter h2 {
  font-size: 30px;
}
footer .infofooter h3 {
  font-size: 20px;
}
footer .links {
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
footer .links a {
  color: black;
}

@media (max-width: 1024px) {
  header .logo {
    height: 300px;
    width: 300px;
  }
  header .lista {
    width: 600px;
  }
}
@media (max-width: 768px) {
  header {
    height: 450px;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-evenly;
    align-content: center;
    padding: 10px 20px;
  }
  main .imgindex img {
    flex: wrap;
    width: 400px;
    height: 600px;
  }
  main .inicio {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
  }
  main .grillaPanes {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
  }
  main .pan {
    height: 400px;
  }
  main .grillaTfrias {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
  }
  main .frias {
    height: 400px;
  }
  main .grillaTcalientes {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
  }
  main .calientes {
    height: 400px;
  }
  main .grillabebidas {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
  }
  main .cocktail {
    height: 400px;
  }
}
@media (max-width: 600px) {
  header {
    height: 700px;
  }
  main .imgindex img {
    flex: wrap;
    width: 300px;
    height: 500px;
  }
  .lista {
    width: 300px;
    flex-direction: column;
  }
}
@media (max-width: 480px) {
  #header {
    height: 650px;
  }
  .title, main .subtitulo {
    font-size: 30px;
  }
}

/*# sourceMappingURL=style.css.map */
