main {
    padding-top: 100px;
    padding-bottom: 100px;
    background-color: #1a5947;
    .Inicio{
        padding: 30px;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    .imgindex {
        border-radius: 1%;
        border: $border;
    }
    .introduccion {
        border: $border;
        border-radius: 10%;
        background-image:$colorimage;
        width: 400px;
        height: 700px;
        margin: 30px;
        padding: 30px;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        h1 {
            text-align: center;
            color: $amarillo;
            font-size: 50px;
            font-family: 'Pacifico', cursive;
        }
        p {
            text-align: center;
            color: $negro;
            font-size: 30px;
            font-family: 'Ubuntu', sans-serif;
        }
    }
    .title {
        color:$verde;
        font-size: 40px;
        display: flex;
        justify-content: center;
        text-align: center;
        margin: 40px;
        font-family: 'Pacifico', cursive;
    }
    .subtitulo {
        color:$verde;
        font-size: 25px;
        margin: 100px;
        @extend .title
    }
    .grillaPanes {
        margin: 30px;
        border: $border;
        border-radius: 2%;
        background-image: $colorimage;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-areas: 'uno dos tres';
        justify-items: center;
        justify-content: space-between;
        align-content: space-around;
        .pan {
            height: $size-grilla;
            display: flex;
            flex-direction: column;
            align-items: center;
            h3 {
                text-align: center;
                font-size: 30px;
                font-family: 'Ubuntu', sans-serif;
                color:$negro;
            }
            p {
                font-size: 25px;
                text-align: center;
                color:$negro;
                font-family: 'Pacifico', cursive;
            }
            img {
                border-radius: 10%;
                border: solid $verde;
            }
        }
        .pan:first-child {
            grid-area: uno;
            margin: $margin-grilla;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            align-content: center;
        }
        .pan:nth-child(2) {
            grid-area: dos;
            margin: $margin-grilla;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            align-content: center;
        }
        .pan:nth-child(3) {
            grid-area: tres;
            margin: $margin-grilla;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            align-content: center;
        }
    }
    .grillaTfrias {
        /* @extend .grillaPanes;
        .frias {
            @extend .pan;
        } */
        margin: 30px;
        border-radius: 1%;
        border: $border;
        background-image: $colorimage;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-areas: 'uno dos tres';
        justify-items: center;
        justify-content: space-between;
        align-content: space-around;
        .frias {
            height: $size-grilla;
            display: flex;
            flex-direction: column;
            align-items: center;
            h3 {
                text-align: center;
                font-size: 30px;
                font-family: 'Ubuntu', sans-serif;
                color:$negro;
            }
            p {
                font-size: 25px;
                text-align: center;
                color:$negro;
                font-family: 'Pacifico', cursive;
            }
            .bordesfotos {
                border-radius: 10%;
                border: solid $verde;
            }
        }
        .frias:first-child {
            margin: $margin-grilla;
            grid-area: uno;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            align-items: center;
        }
        .frias:nth-child(2) {
            margin: $margin-grilla;
            grid-area: dos;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            align-content: center;
        }
        .frias:nth-child(3) {
            grid-area: tres;
            margin: $margin-grilla;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            align-content: center;
        }
    }
    .grillaTcalientes {
        margin: 30px;
        border-radius: 1%;
        border: $border;
        background-image: $colorimage;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-areas: 'uno dos tres';
        justify-items: center;
        justify-content: space-between;
        align-content: space-around;
        /* @extend .grillaPanes;
        .calientes {
            @extend .pan;
        } */
        .calientes{
            height: $size-grilla;
            display: flex;
            flex-direction: column;
            align-items: center;
            h3 {
                text-align: center;
                font-size: 30px;
                font-family: 'Ubuntu', sans-serif;
                color:$negro;
            }
            p {
                font-size: 25px;
                text-align: center;
                color:$negro;
                font-family: 'Pacifico', cursive;
            }
            .bordesfotos {
                border-radius: 10%;
                border: solid $verde;
            }
        }
        .calientes:first-child {
            margin: $margin-grilla;
            grid-area: uno;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            align-items: center;
        }
        .calientes:nth-child(2) {
            margin: $margin-grilla;
            grid-area: dos;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            align-content: center;
        }
        .calientes:nth-child(3) {
            grid-area: tres;
            margin: $margin-grilla;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            align-content: center;
        }
    }
    .grillabebidas {
        margin: 30px;
        border: $border;
        background-image: $colorimage;
        padding: 30px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-areas: 
        'uno dos'
        'tres cuatro'
        'cinco seis';
        justify-content: center;
        align-content: center;
        justify-items: center;
        .cocktail {
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            h3 {
                text-align: center;
                font-size: 30px;
                font-family: 'Ubuntu', sans-serif;
                color:$negro;
            }
            p {
                font-size: 20px;
                text-align: center;
                color:$negro;
                font-family: 'Love Light', cursive;
            }
            .bordesfotos {
                border-radius: 10%;
                border: solid $verde;
            }
        }
        .cocktail:first-child {
            grid-area: uno;
            margin: $margin-grilla;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            align-items: center;
        }
        .cocktail:nth-child(2) {
            grid-area: dos;
            margin: $margin-grilla;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            align-items: center;
        }
        .cocktail:nth-child(3) {
            grid-area: tres;
            margin: $margin-grilla;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            align-items: center;
        }
        .cocktail:nth-child(4) {
            grid-area: cuatro;
            margin: $margin-grilla;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            align-items: center;
        }
        .cocktail:nth-child(5) {
            grid-area: cinco;
            margin: $margin-grilla;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            align-items: center;
        }
        .cocktail:nth-child(6) {
            grid-area: seis;
            margin: $margin-grilla;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            align-items: center;
        }
    }
}