$amarillo: #faa63b;
$verde:#1c5441;
$negro: rgba(0, 0, 0, 0.979);
$blanco:white;
$colorimage: linear-gradient(#1c5441, grey);
$border: $amarillo solid 5px;
$fuente:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', serif;
$size-grilla: 600px;
$margin-grilla: 10px;
$desktop:1024px;
$tableth:768px;
$tabletv:600px;
$mobile:480px;