$color-main: #1c5441;
$border: #faa63b solid 5px;
$size-grilla: 600px;
$background-grilla: linear-gradient(white, #c33c23);
$margin-grilla: 10px;
$color-textgrilla: black;
$color-titles: #faa63b;
$desktop:1024px;
$tableth:768px;
$tabletv:600px;
$mobile:480px;